<app-card header="Assignment 1">

  <div description>
    <ol class="list-decimal list-inside">
      <li class="list-item">Create two new components (Manually or with CLI): WarningAlert and SuccessAlert</li>
      <li class="list-item">Output them beneath each other in the AppComponent</li>
      <li class="list-item">Output a warning or success message in the Component</li>
      <li class="list-item">Style the Components appropriately (maybe some red/green text?)</li>
    </ol>
    <br>
    <p class="font-semibold">Use external or internal templates and styles!</p>
    <p class="font-semibold">Feel free to create more components, nest then into each other or play around with
      different types of
      selectors!</p>
  </div>

  <app-success-alert message="Well done you created a message"></app-success-alert>
  <br>
  <app-warning-alert message="Something went wrong! or did it?"></app-warning-alert>
</app-card>
